{
  "server": {
    "addr": ":8080"
  },
  "node": {
    "ws": ""
  },
  "db": {
    "host": "127.0.0.1",
    "port": 5432,
    "username": "",
    "password": "",
    "schema": "public",
    "name": "cennzscan"
  },
  "queue": {
    "uri": "mongodb://127.0.0.1:27017",
    "name": "public"
  },
  "notifications": {
    "host": ""
  },
  "taskWorkers": {
    "block": 10
  },
  "realTimeEnabled": true
}
