<label>Select Date: </label>
<div class="datepicker input-group date" data-date-format="mm-dd-yyyy">
  <input class="form-control" type="text" readonly/>
  <span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
</div>
