<div class="footer">
 <div class="container">
  <div class="footer-table footer-content">
      <div>&copy; {{ _('title') }} {{ getYear() }} </div>
      <div><a href="https://centrality.ai/terms-of-service/" target="_blank">TERMS OF SERVICE</a></div>
      <div><a href="http://help.uncoverexplorer.com">SUPPORT</a></div>
      <div><a href="https://cennznetdocs.com/UNcover" target="_blank">DOCUMENTATION</a></div>
      <div><i class="fas fa-location-arrow"></i> Auckland, NZ</div>
  </div>
 </div>
</div>
