<div class="footer">
 <div class="container">
  <table class="footer-table">
    <thead>
      <th>&copy; {{ _('title') }} {{ getYear() }}</th>
      <th><a href="https://centrality.ai/terms-of-service/" target="_blank">TERMS OF SERVICE</a></th>
      <th><a href="http://help.uncoverexplorer.com">SUPPORT</a></th>
      <th><a href="https://cennznetdocs.com/UNcover" target="_blank">DOCUMENTATION</a></th>
      <th><i class="fas fa-location-arrow"></i> Auckland, NZ</th>
    </thead>
  </table>
 </div>
</div>
