{% set pageClass = 'contracts-page' %}
{% set menuKey = 'contracts' %}
{% extends 'layouts/default.njk' %}

{% block main %}
  <div class="contracts">
    <h1>{{ _('message.comingSoon') }}</h1>
    <p>{{ _('message.comingSoon.describe1') }}</p>
    <p>{{ _('message.comingSoon.describe2') }}</p>
  </div>
{% endblock %}
