{% set pageClass = 'asset-list-page' %}
{% set menuKey = 'assets' %}
{% from 'macros/pagination.njk' import pagination %}
{% extends 'layouts/default.njk' %}

{% block main %}
  <h1 class="main-heading">{{ _('navbar.assets') }}</h1>
  <div class="block-section mobile-no-box-shadow">
    <div class="block-section__header">
      <div class="block-section__sub-header block-section__header--mobile-row">
        <strong>{{ _('navbar.assets') }}:</strong> ({{ total | numberFormat }} {{ _('helper.field.total') }})
      </div>
      {% include 'partials/token/token-filter.njk' %}
      <hr>
      <div class="block-section__sub-header block-section__header--mobile-row">
        <strong>{{ _('navbar.assets') }}:</strong> ({{ total | numberFormat }} {{ _('helper.field.total') }})
      </div>
      <div class="scroll-bar-wrapper mobile-margin-x">
        <div class="scroll-bar-div"></div>
      </div>
      <div class="filter-result">
        <div class="filter-result__result mobile-text-left mobile-margin-x mobile-margin-y-none">
          {{ _('filter.desc.displaying') }} <strong>{{ filteredResult | numberFormat }}</strong> 
          {{ _('filter.desc.of') }} <strong>{{ filteredTotal | numberFormat }}</strong> {{ _('filter.desc.results') }}
        </div>
        <div class="filter-result__pagination mobile-hide">
          {{ pagination(queryStr, page, pageCount) }}
        </div>
      </div>
    </div>
    <div class="block-section__content mobile-wrapper-block-table">
      {% include 'partials/token/token-table.njk' %}
    </div>
    <div class="block-section__footer">
      {{ pagination(queryStr, page, pageCount) }}
    </div>
  </div>
{% endblock %}
