.tx-list-page {
  background-size: 100% 31.4rem;
}

.home-page {
  background-size: 100% 23.7rem;
}

.tx-detail-page {
  background-size: 100% 26.7rem;
}

.address-detail-page {
  background-size: 100% 22.4rem;
}

.block-list-page {
  background-size: 100% 21.7rem;
}

.block-detail-page {
  background-size: 100% 22.0rem;
}

.asset-list-page {
  background-size: 100% 30.4rem;
}

.not-found-page {
  background-size: 100% 26.0rem;
}

.error-page {
  background-size: 100% 26.0rem;
}

.contracts-page {
  background-size: 100% 26.0rem;
}

.account-page {
  background-size: 100% 26.0rem; 
}