.header__icon {
	display: inline-block;
	width: 55px;
	height: 55px;
	background-image: url('../img/centrality-logo.png');
	background-size: 100%;
  margin: 0 1rem 0 0;
}

.nav-item {
	& form {
		display: flex;
		align-items: center;
		height: 100%;
	}

	& input {
		height: 30px;
		margin-right: 10px;
	}

  .dropdown-menu {
    background-color: $opaque-background;
  }
  .dropdown-item {
    color: white;
    font-size: 0.875rem;
 
    &:hover {
      background-color: $secondary;
    }
  }
}

.navbar {
  .nav-item {
    > a {
      color: white;
    }
  }
}

.navbar-static-top .container
{
  width:100%;
}
