.account {
  display: block;
  text-align: center;
  margin-top: 15rem;
  color: white;

  h1 {
    font-size: 4.7rem;
  }

  p {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 2rem;
  }
}
