@import './variables';
@import './mixin';
@import './colors';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-select/dist/css/bootstrap-select.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "~slick-carousel/slick/slick.css";

@import './layout';
@import './theme';
@import './modules/button';
@import './modules/section';
@import './modules/header';
@import './modules/footer';
@import './modules/pagination';
@import './modules/table';
@import './modules/search';
@import './modules/chain-switch';
@import './modules/address-tokens';
@import './modules/filter-form';
@import './modules/background-settings';

@import './pages/home';
@import './pages/block-detail';
@import './pages/tx-detail';
@import './pages/address-detail';
@import './pages/token-detail';
@import './pages/not-found';
@import './pages/error';
@import './pages/contracts';
@import './pages/account';
