<nav class="navbar navbar-expand-lg navbar-static-top">
  <div class="container">
  <a class="navbar-brand header__icon" href="{{ baseUrl }}/"></a>
  <div class='d-flex flex-fill justify-content-between'>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% include './nav.njk' %}
    </div>

    <div>
      <ul class="navbar-nav flex-row">
        {% ifAsync not hideHeaderSearch %}
          <li class="nav-item">
            {% include './nav-search.njk' %}
          </li>
        {% endif %}
        <li class="nav-item">
          {% include './chain-switch.njk' %}
        </li>
      </ul>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
</nav>
