<form class="nav-search nav-search--closed global-search" action="{{ baseUrl }}/search" method="get">
  <div class="icon-wrapper"><i class="fa fa-search"></i></div>
  <input name="q" type="search" aria-label="Search" autocomplete="off"
         placeholder={{ _('button.search') }}>
  <span class="error-message hide">{{ _('message.validation') }}</span>
</form>
